body {
  font-weight: bold;
  font-size: 1.2em;
  font-family: "Tajawal";
}
.assignment .container{
  margin-bottom: 70px;
}
.assignment .full-width-div {
  margin: 50px 0px;
  height: 100px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0.3, 0.3, 0.3, 0.3);;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.assignment .one-third {
  height: 150px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0.5, 0.5, 0.5, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}
.assignment .circle-icon {
  background-color: #0F73EE;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  color: white;
  padding: 10px;
  cursor: pointer;
}
.days,
.timer {
  color: #0F73EE;
}
